header{
    background:var(--white);
}
section{
    background:var(--primary-color-v2);
}
footer{
    background:var(--black);
}

.name{
    color: var(--primary-color-v1);
}
.networks{
    background-color: blueviolet;
}

nav{
    background:var(--primary-color-v1);
}
.nav-open{
    fill: var(--primary-color-v1);
}
.nav-close{
    fill: var(--white);
}
