.contact{
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 2rem;
}
.cpar{
    display: flex;
    width: 100%;
    row-gap: 1rem;
    flex-direction: column-reverse;
}
.par{
    width: 100%;
    flex-direction: column;
    display: flex;
    row-gap: 1rem;
}
.par span{
    width: 100%;
    text-transform: uppercase;
    font-family: var(--SemiBold),sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    color: var(--primary-color-v1);
}
.par p{
    font-family: var(--regular),sans-serif;
    font-size: 0.8rem;
    text-align: justify;
    line-height: 1.1rem;
}
.clinks{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.clinks ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    column-gap: 0.5rem;
}
.clinks ul li{
    width: 1.3rem;
    height: 100%;
}

.cimg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cimg img{
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
    object-position: center;
    background: var(--gray-light);
}

.ccon{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
}
.ccont{
    border-radius: 0.5rem;
    border: 5px solid var(--gray-light);
    width: 100%;
    padding: 0.5rem;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.ccont i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    aspect-ratio: 1/1;
}
.ccont i .c-icon{
    width: 2rem;
    fill: var(--primary-color-v1);
}
.ccont span{
    padding: 0.5rem;
    width: 100%;
    font-weight: 700;
    color: var(--primary-color-v1);
    font-size: 0.8rem;
    font-family: var(--regular),sans-serif;
}
.cform{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-color-v3);
}
.cform iframe{
    width: 100%;
    height: 20rem;
    background-color: var(--gray-light);
}
.cform form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 2rem;
    row-gap: 2rem;
    position: relative;

}
.cform .ftitle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--regular),sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.95rem;
    color: var(--white);
}
.cform label{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: auto;
    cursor: pointer;
}

.cform label input{
    background-color: var(--primary-color-v3);
    width: 100%;
    border: none;
    height: 1.7rem;
    position: relative;
    border-bottom: 1px solid var(--white);
    color: var(--white);
}
.cform label span{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 1.7rem;
    font-size: 0.75rem;
    position: absolute;
    text-transform: uppercase;
    color: var(--white);
    font-weight: 600;
    font-family: var(--regular),sans-serif;
}


.cform label input:focus ~ span,
.cform label input:valid ~ span{
    transform: translateY(-1.4rem);
    transition: 1s;
    font-size: 0.70rem;
}

input{
    border: none;
    outline: none;
    background-color: transparent;
}

.cform button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: none;
    background-color: var(--primary-color-v1);
    padding: 0.5rem 3rem;
    border-radius: 0.4rem;
    font-size: 0.70rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--white);
    font-family: var(--regular),sans-serif;
    cursor: pointer;
}
.cform button:hover{
    background: var(--white);
    color: var(--primary-color-v1);
    transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 480px) {
    .contact{
        display: flex;
        width: 100%;
        flex-direction: column;
        row-gap: 2rem;
    }
    .cpar{
        display: flex;
        width: 100%;
        row-gap: 1.5rem;
        flex-direction: column-reverse;
    }
    .par{
        width: 100%;
        flex-direction: column;
        display: flex;
        row-gap: 1.5rem;
    }
    .par span{
        width: 100%;
        text-transform: uppercase;
        font-family: var(--SemiBold),sans-serif;
        font-weight: 700;
        font-size: 0.85rem;
        color: var(--primary-color-v1);
    }
    .par p{
        font-family: var(--regular),sans-serif;
        font-size: 0.85rem;
        text-align: justify;
    }
    .clinks{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
    .clinks ul{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        list-style: none;
        column-gap: 0.5rem;
    }
    .clinks ul li{
        width: 1.5rem;
        height: 100%;
    }
    
    .cimg{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cimg img{
        width: 100%;
        aspect-ratio: 2/1;
        object-fit: cover;
        object-position: center;
    }
    
    .ccon{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 1rem;
    }
    .ccont{
        border-radius: 0.5rem;
        border: 5px solid var(--gray-light);
        width: 100%;
        padding: 0.5rem;
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .ccont i{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4.5rem;
        aspect-ratio: 1/1;
    }
    .ccont i .c-icon{
        width: 2.2rem;
        fill: var(--primary-color-v1);
    }
    .ccont span{
        padding: 0.5rem;
        width: 100%;
        font-weight: 700;
        color: var(--primary-color-v1);
        font-size: 0.85rem;
        font-family: var(--regular),sans-serif;
    }
    .cform{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--primary-color-v3);
    }
    .cform iframe{
        width: 100%;
        height: 25rem;
    }
    .cform form{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 3rem 2rem;
        row-gap: 2rem;
        position: relative;
    
    }
    .cform .ftitle{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--regular),sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.95rem;
        color: var(--white);
    }
    .cform label{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        height: auto;
    }
    
    .cform label input{
        background-color: var(--primary-color-v3);
        width: 100%;
        border: none;
        height: 1.7rem;
        font-size: 0.85rem;
        position: relative;
        border-bottom: 1px solid var(--white);
        color: var(--white);
    }
    .cform label span{
        display: flex;
        justify-content: left;
        align-items: center;
        width: 100%;
        height: 1.7rem;
        font-size: 0.85rem;
        position: absolute;
        text-transform: uppercase;
        color: var(--white);
        font-weight: 600;
        font-family: var(--regular),sans-serif;
    }
    
    
    .cform label input:focus ~ span,
    .cform label input:valid ~ span{
        transform: translateY(-1.4rem);
        transition: 1s;
        font-size: 0.8rem;
    }
    
    input{
        border: none;
        outline: none;
        background-color: transparent;
    }
    
    .cform button{
        border: none;
        background-color: var(--primary-color-v1);
        padding: 0.5rem 3rem;
        border-radius: 0.4rem;
        font-size: 0.75rem;
        font-weight: 500;
        text-transform: uppercase;
        color: var(--white);
        font-family: var(--regular),sans-serif;
    }
    
}

@media screen and (min-width: 768px) {
    .contact{
        display: flex;
        width: 100%;
        flex-direction: column;
        row-gap: 3rem;
    }
    .cpar{
        display: flex;
        width: 100%;
        row-gap: 2rem;
        flex-direction: column-reverse;
    }
    .par{
        width: 100%;
        flex-direction: column;
        display: flex;
        row-gap: 2rem;
    }
    .par span{
        width: 100%;
        text-transform: uppercase;
        font-family: var(--SemiBold),sans-serif;
        font-weight: 700;
        font-size: 1rem;
        color: var(--primary-color-v1);
    }
    .par p{
        font-family: var(--regular),sans-serif;
        font-size: 0.95rem;
        text-align: justify;
    }
    .clinks{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
    .clinks ul{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        list-style: none;
        column-gap: 1rem;
    }
    .clinks ul li{
        width: 1.8rem;
        height: 100%;
    }
    
    .cimg{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cimg img{
        width: 100%;
        aspect-ratio: 2/1;
        object-fit: cover;
        object-position: center;
    }
    
    .ccon{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 1rem;
    }
    .ccont{
        border-radius: 0.8rem;
        border: 5px solid var(--gray-light);
        width: 100%;
        padding: 0.5rem;
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .ccont i{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4.5rem;
        aspect-ratio: 1/1;
    }
    .ccont i .c-icon{
        width: 2.8rem;
        fill: var(--primary-color-v1);
    }
    .ccont span{
        padding: 0.5rem;
        width: 100%;
        font-weight: 700;
        color: var(--primary-color-v1);
        font-size: 1rem;
        font-family: var(--regular),sans-serif;
    }
    .cform{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--primary-color-v3);
    }
    .cform iframe{
        width: 100%;
        height: 35rem;
    }
    .cform form{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 4rem 2rem;
        row-gap: 2rem;
        position: relative;
    
    }
    .cform .ftitle{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--regular),sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.2rem;
        color: var(--white);
    }
    .cform label{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        height: auto;
    }
    
    .cform label input{
        background-color: var(--primary-color-v3);
        width: 100%;
        border: none;
        height: 2rem;
        font-size: 1rem;
        position: relative;
        border-bottom: 1px solid var(--white);
        color: var(--white);
    }
    .cform label span{
        display: flex;
        justify-content: left;
        align-items: center;
        width: 100%;
        height: 2rem;
        font-size: 1rem;
        position: absolute;
        text-transform: uppercase;
        color: var(--white);
        font-weight: 700;
        font-family: var(--regular),sans-serif;
    }
    
    
    .cform label input:focus ~ span,
    .cform label input:valid ~ span{
        transform: translateY(-1.4rem);
        transition: 1s;
        font-size:0.95rem;
    }
    
    input{
        border: none;
        outline: none;
        background-color: transparent;
    }
    
    .cform button{
        border: none;
        background-color: var(--primary-color-v1);
        padding: 0.8rem 5rem;
        border-radius: 0.4rem;
        font-size: 0.95rem;
        font-weight: 500;
        text-transform: uppercase;
        color: var(--white);
        font-family: var(--regular),sans-serif;
    }
    
}


@media screen and (min-width: 1024px) {
    .contact{
        display: flex;
        width: 100%;
        flex-direction: column;
        row-gap: 4rem;
        
    }
    .cpar{
        display: flex;
        width: 100%;
        row-gap: 0rem;
        column-gap: 4rem;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
    }
    .par{
        width: 100%;
        flex-direction: column;
        display: flex;
        row-gap: 3rem;
    }
    .par span{
        width: 100%;
        text-transform: uppercase;
        font-family: var(--SemiBold),sans-serif;
        font-weight: 700;
        font-size: 1.25rem;
        color: var(--primary-color-v1);
    }
    .par p{
        font-family: var(--regular),sans-serif;
        font-size: 1.1rem;
        text-align: justify;
        line-height: 1.4rem;
    }
    .clinks{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
    .clinks ul{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        list-style: none;
        column-gap: 1rem;
    }
    .clinks ul li{
        width: 2rem;
        height: 100%;
    }
    
    .cimg{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cimg img {
        height: auto;
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;
        
        border-bottom-left-radius: 100%;
    }
    
    
    .ccon{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        row-gap: 0rem;
        column-gap: 1.5rem;
    }
    .ccont{
        border-radius: 0.8rem;
        border: 5px solid var(--gray-light);
        width: 100%;
        padding: 2rem 1rem;
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .ccont i{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4.5rem;
        aspect-ratio: 1/1;
    }
    .ccont i .c-icon{
        width: 3.5rem;
        fill: var(--primary-color-v1);
    }
    .ccont span{
        padding: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        color: var(--primary-color-v1);
        font-size: 0.9rem;
        font-family: var(--regular),sans-serif;
    }
    .cform{
        margin-top: 5rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 3;
        flex-direction: row;
        background-color: var(--primary-color-v3);
    }
    .cform::before{
        content: "";
        width: calc(100% + var(--pad-03) + var(--pad-03) );
        height: 35rem;
        background-color: var(--primary-color-v3);
        position: absolute;
        z-index: 1;
    }
    .cform iframe{
        transform: translateY(-5rem);
        z-index: 3;
        width: 100%;
        height: 35rem;
    }
    .cform form{
        z-index: 3;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 4rem 4rem;
        row-gap: 3rem;
        position: relative;
    
    }
    .cform .ftitle{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--regular),sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.2rem;
        color: var(--white);
    }
    .cform label{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        height: auto;
    }
    
    .cform label input{
        background-color: var(--primary-color-v3);
        width: 100%;
        border: none;
        height: 2rem;
        font-size: 1rem;
        position: relative;
        border-bottom: 1px solid var(--white);
        color: var(--white);
    }
    .cform label span{
        display: flex;
        justify-content: left;
        align-items: center;
        width: 100%;
        height: 2rem;
        font-size: 1rem;
        position: absolute;
        text-transform: uppercase;
        color: var(--white);
        font-weight: 700;
        font-family: var(--regular),sans-serif;
    }
    
    
    .cform label input:focus ~ span,
    .cform label input:valid ~ span{
        transform: translateY(-1.4rem);
        transition: 1s;
        font-size:0.95rem;
    }
    
    input{
        border: none;
        outline: none;
        background-color: transparent;
    }
    
    .cform button{
        border: none;
        background-color: var(--primary-color-v1);
        padding: 0.8rem 5rem;
        border-radius: 0.4rem;
        font-size: 0.95rem;
        font-weight: 500;
        text-transform: uppercase;
        color: var(--white);
        font-family: var(--regular),sans-serif;
    }
    
}

@media screen and (min-width: 1500px) {
    .contact{
        display: flex;
        width: 100%;
        flex-direction: column;
        row-gap: 4rem;
        
    }
    .cpar{
        display: flex;
        width: 100%;
        row-gap: 0rem;
        column-gap: 4rem;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
    }
    .par{
        width: 100%;
        flex-direction: column;
        display: flex;
        row-gap: 3rem;
    }
    .par span{
        width: 100%;
        text-transform: uppercase;
        font-family: var(--SemiBold),sans-serif;
        font-weight: 700;
        font-size: 1.25rem;
        color: var(--primary-color-v1);
    }
    .par p{
        font-family: var(--regular),sans-serif;
        font-size: 1.05rem;
        text-align: justify;
        line-height: 1.4rem;
    }
    .clinks{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
    .clinks ul{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        list-style: none;
        column-gap: 1.5rem;
    }
    .clinks ul li{
        width: 2.2rem;
        height: 100%;
    }
    
    .cimg{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cimg img {
        height: auto;
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;
        
        border-bottom-left-radius: 100%;
    }
    
    
    .ccon{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        row-gap: 0rem;
        column-gap: 6rem;
    }
    .ccont{
        border-radius: 0.8rem;
        border: 5px solid var(--gray-light);
        width: 100%;
        padding: 2rem 1rem;
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .ccont i{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4.5rem;
        aspect-ratio: 1/1;
    }
    .ccont i .c-icon{
        width: 4rem;
        fill: var(--primary-color-v1);
    }
    .ccont span{
        padding: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        color: var(--primary-color-v1);
        font-size: 0.9rem;
        font-family: var(--regular),sans-serif;
    }
    .cform{
        margin-top: 5rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 3;
        flex-direction: row;
        background-color: var(--primary-color-v3);
    }
    .cform::before{
        content: "";
        width: calc(100% + var(--pad-04) + var(--pad-04) );
        height: 35rem;
        background-color: var(--primary-color-v3);
        position: absolute;
        z-index: 1;
    }
    .cform iframe{
        transform: translateY(-5rem);
        z-index: 3;
        width: 100%;
        height: 35rem;
    }
    .cform form{
        z-index: 3;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 4rem 4rem;
        row-gap: 3rem;
        position: relative;
    
    }
    .cform .ftitle{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--regular),sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.2rem;
        color: var(--white);
    }
    .cform label{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        height: auto;
    }
    
    .cform label input{
        background-color: var(--primary-color-v3);
        width: 100%;
        border: none;
        height: 2.5rem;
        font-size: 0.95rem;
        position: relative;
        border-bottom: 1px solid var(--white);
        color: var(--white);
    }
    .cform label span{
        display: flex;
        justify-content: left;
        align-items: center;
        width: 100%;
        height: 2.5rem;
        font-size: 1.05rem;
        position: absolute;
        text-transform: uppercase;
        color: var(--white);
        font-weight: 700;
        font-family: var(--regular),sans-serif;
    }
    
    
    .cform label input:focus ~ span,
    .cform label input:valid ~ span{
        transform: translateY(-2rem);
        transition: 1s;
        font-size:0.95rem;
    }
    
    input{
        border: none;
        outline: none;
        background-color: transparent;
    }
    
    .cform button{
        border: none;
        background-color: var(--primary-color-v1);
        padding: 0.8rem 5rem;
        border-radius: 0.4rem;
        font-size: 0.95rem;
        font-weight: 500;
        text-transform: uppercase;
        color: var(--white);
        font-family: var(--regular),sans-serif;
    }
    
}

@media screen and (min-width: 1900px) {
    .contact{
        display: flex;
        width: 100%;
        flex-direction: column;
        row-gap: 4rem;
        
    }
    .cpar{
        display: flex;
        width: 100%;
        row-gap: 0rem;
        column-gap: 6rem;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
    }
    .par{
        width: 100%;
        flex-direction: column;
        display: flex;
        row-gap: 3rem;
    }
    .par span{
        width: 100%;
        text-transform: uppercase;
        font-family: var(--SemiBold),sans-serif;
        font-weight: 700;
        font-size: 1.3rem;
        color: var(--primary-color-v1);
    }
    .par p{
        font-family: var(--regular),sans-serif;
        font-size: 1rem;
        text-align: justify;
        line-height: 1.65rem;
    }
    .clinks{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
    .clinks ul{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        list-style: none;
        column-gap: 2rem;
    }
    .clinks ul li{
        width: 2.5rem;
        height: 100%;
    }
    
    .cimg{
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cimg img {
        height: auto;
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;
        
        border-bottom-left-radius: 100%;
    }
    
    
    .ccon{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        row-gap: 0rem;
        column-gap: 8rem;
    }
    .ccont{
        border-radius: 1rem;
        border: 5px solid var(--gray-light);
        width: 100%;
        padding: 3.5rem 1rem;
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .ccont i{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4.5rem;
        aspect-ratio: 1/1;
    }
    .ccont i .c-icon{
        width: 5rem;
        fill: var(--primary-color-v1);
    }
    .ccont span{
        padding: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        color: var(--primary-color-v1);
        font-size: 1rem;
        font-family: var(--regular),sans-serif;
    }
    .cform{
        margin-top: 5rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 3;
        flex-direction: row;
        background-color: var(--primary-color-v3);
    }
    .cform::before{
        content: "";
        width: calc(100% + var(--pad-05) + var(--pad-05) );
        height: 40rem;
        background-color: var(--primary-color-v3);
        position: absolute;
        z-index: 1;
    }
    .cform iframe{
        transform: translateY(-5rem);
        z-index: 3;
        width: 100%;
        height: 40rem;
    }
    .cform form{
        z-index: 3;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5rem 5rem;
        row-gap: 3.5rem;
        position: relative;
    
    }
    .cform .ftitle{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--regular),sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.35rem;
        color: var(--white);
    }
    .cform label{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        height: auto;
    }
    
    .cform label input{
        background-color: var(--primary-color-v3);
        width: 100%;
        border: none;
        height: 3rem;
        font-size: 1.2rem;
        position: relative;
        border-bottom: 1px solid var(--white);
        color: var(--white);
    }
    .cform label span{
        display: flex;
        justify-content: left;
        align-items: center;
        width: 100%;
        height: 3rem;
        font-size: 1.2rem;
        position: absolute;
        text-transform: uppercase;
        color: var(--white);
        font-weight: 700;
        font-family: var(--regular),sans-serif;
    }
    
    
    .cform label input:focus ~ span,
    .cform label input:valid ~ span{
        transform: translateY(-2.5rem);
        transition: 1s;
        font-size:1.1rem;
    }
    
    input{
        border: none;
        outline: none;
        background-color: transparent;
    }
    
    .cform button{
        border: none;
        background-color: var(--primary-color-v1);
        padding: 1rem 5rem;
        border-radius: 0.4rem;
        font-size: 1.1rem;
        font-weight: 500;
        text-transform: uppercase;
        color: var(--white);
        font-family: var(--regular),sans-serif;
    }
    
}