:root{
    /*Color*/
    --primary-color-v1:#003352;
    --primary-color-v2:#003e64;
    --primary-color-v3:#1291df;
    --primary-color-v4:#5eb6ce;
    --white:#fcf7f7;
    --gray-dark:#232323;
    --gray-light:#e2dfdf;
    --gray:#494949;
    --black:#0f0f0f;
    /*******/

    /*Fonts*/
    --titulo: 'Anton', sans-serif;
    --regular:'Open Sans', sans-serif;
    --Bold:'Contenido-B';
    --SemiBold:'Contenido-SB';
    /*******/

    --pad-01:1rem;
    --pad-02:3rem;
    --pad-03:6rem;
    --pad-04:10rem;
    --pad-05:20rem;
}





@font-face {
    font-family: 'Contenido-B';
    src: url('./assets/fonts/Open_Sans/static/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Contenido-SB';
    src: url('./assets/fonts/Open_Sans/static/OpenSans-SemiBold.ttf') format('truetype');

}
.bheader{
    padding-left: var(--pad-01);
    padding-top: 0.5rem;
    padding-right: var(--pad-01);
    padding-bottom: 0.5rem;
    overflow: hidden;
    
}
.bheader span{
    height: 30px;
}
section{
    padding-left: var(--pad-01);
    padding-top: var(--pad-01);
    padding-right: var(--pad-01);
    padding-bottom: var(--pad-01);
    overflow: hidden;
}
/* Móviles (hasta 480px) */
@media screen and (min-width: 480px) {
    .bheader{
        padding-left: var(--pad-02);
        padding-right: var(--pad-02);
    }
    section{
        padding-left: var(--pad-02);
        padding-top: var(--pad-01);
        padding-right: var(--pad-02);
        padding-bottom: var(--pad-01);
    }
    
}

/* Tablets en vertical (481px - 768px) */
@media screen and (min-width: 768px) {
    .bheader{
        padding-left: var(--pad-03);
        padding-right: var(--pad-03);
    }
    section{
        padding-left: var(--pad-03);
        padding-top: var(--pad-01);
        padding-right: var(--pad-03);
        padding-bottom: var(--pad-01);
    }
    
}

/* Laptops y Tablets en horizontal (769px - 1024px) */
@media screen and (min-width: 1024px) {
    .bheader{
        padding-left: var(--pad-03);
        padding-right: var(--pad-03);
    }
    section{
        padding-left: var(--pad-03);
        padding-top: var(--pad-02);
        padding-right: var(--pad-03);
        padding-bottom: var(--pad-02);
    }
    
}

/* Escritorios grandes (1025px en adelante) */
@media screen and (min-width: 1500px) {
    .bheader{
        padding-left: var(--pad-04);
        padding-right: var(--pad-04);
    }
    section{
        padding-left: var(--pad-04);
        padding-top: var(--pad-02);
        padding-right: var(--pad-04);
        padding-bottom: var(--pad-02);
    }
    
}
@media screen and (min-width: 1900px) {
    .bheader{
        padding-left: var(--pad-05);
        padding-right: var(--pad-05);
    }
    section{
        padding-left: var(--pad-05);
        padding-top: var(--pad-02);
        padding-right: var(--pad-05);
        padding-bottom: var(--pad-02);
    }
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}