.logo{
    margin-left: var(--pad-01);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.logo img{
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}
@keyframes shine {
    0% {
        background-position: -200%;
    }
    100% {
        background-position: 200%;
    }
}
.logo::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit; 
    background: linear-gradient(120deg, transparent 30%, #fcf7f79c 50%, transparent 70%);
    background-size: 200%;
    animation: shine 3s infinite linear;
}
.name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name span{
    width: 100%;
    display: flex;
    font-family:var(--titulo);
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.2rem;
    font-style: normal;
}
.name span:nth-child(2){
    font-family: sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
}
.nav-ico{
    padding-right: var(--pad-01);
    display: flex;
    justify-content: right;
    align-items: center;
}
.nav-ico label{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.cb-menu{
    display: none;
}

.nav-open{
    width: 70%;
    aspect-ratio: 1/1;
    object-fit: cover;
    height: auto;
    cursor: pointer;
}
input[type="checkbox"]:checked ~ nav{
    display: flex;
    transition: 1s;
    width: 100%;
    right: 0;
}
nav{
    position: fixed;
    right: -100%;
    display: flex;
    top: 0;
    justify-content: safe;
    align-items: center;
    flex-direction: column;
    width: 100%;
    z-index: 2;
    min-height: 100vh;
    transition: right 0.5s ease-in-out;
}

nav .l-menu-btn-close{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    padding-right: var(--pad-01);
    min-height: 4.6rem;
}
.nav-close{
    width: auto;
    min-height: 6.3vh;
    aspect-ratio: 1/1;
    cursor: pointer;
}
nav ul{
    
    list-style: none;
    width: 100%;
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
nav ul li{
    display: flex;
    width: 100%;
    
}


nav ul li label{
    padding: none;
    width: 100%;
}
nav ul li label a{
    text-decoration:underline;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    width: 100%;
    font-family: var(--regular),sans-serif;
    color: var(--white);
    cursor: pointer;
}


.networks ul li a .ionicon:hover{
    fill: var(--primary-color-v3);
    transition: all 0.3s ease-in-out;
    
}


/* Tablets en vertical (481px - 768px) */

@media screen and (min-width: 480px) {
    .logo{
        margin-left: var(--pad-02);
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .logo img{
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
    .name{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .name span{
        width: 100%;
        display: flex;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-style: normal;
    }
    .name span:nth-child(2){
        font-size: 0.8rem;
    }
    .networks{
        justify-content: center;
        align-items: center;
        padding-right: var(--pad-02);
    }
    .networks ul{
        width: 100%;
        list-style: none;
        justify-content: right;
        align-items: center;
        display: flex;
        flex-direction: row;
    }
    .networks ul li{
        display: flex;
        justify-content: right;
        align-items: center;
    }
    .networks ul li a{
        margin-left: 0.6rem;
        width: 1.25rem;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
    .nav-ico{
        padding-right: var(--pad-01);
        display: none;
        justify-content: right;
        align-items: center;
    }
    .nav-ico label{
        width: 100%;
        height: 100%;
        display: none;
        justify-content: right;
        align-items: center;
    }
    .cb-menu{
        display: none;
    }
    
    .nav-open{
        width: 70%;
        aspect-ratio: 1/1;
        object-fit: cover;
        height: auto;
        cursor: pointer;
        display: none;
    }
    input[type="checkbox"]:checked ~ nav{
        display: flex;
        transition: 0;
        width: none;
        right: none;
    }
    nav{
        position: relative;
        padding-left: var(--pad-02);
        padding-right: var(--pad-02);
        right: 0;
        display: flex;
        top: 0;
        justify-content: safe;
        align-items: center;
        flex-direction: column;
        width: 100%;
        min-height: 100%;
        transition: none;
    }
    
    nav .l-menu-btn-close{
        display: none;
        justify-content: right;
        align-items: center;
        width: 100%;
        padding-right: var(--pad-01);
        min-height: 100%;
    }
    .nav-close{
        width: auto;
        min-height: 6.3vh;
        aspect-ratio: 1/1;
        cursor: pointer;
    }
    nav ul{
        list-style: none;
        width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    nav ul li{
        min-height: 100%;
        display: flex;
        width: 100%;
        
    }
    nav ul li label{
        min-height: 100%;
        padding: none;
        width: 100%;
    }
    nav ul li label a{
        text-decoration:none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        height: 100%;
        width: auto;
        font-family: var(--regular),sans-serif;
        color: var(--white);
        cursor: pointer;
        font-size: 0.9rem;
    }
    nav ul li label a:hover{
        color: var(--gray-light);
        transition: all 0.3s ease-in-out;
    }
    .menu-act {
    background-color: var(--primary-color-v3);
    transition: all 0.3s ease-in-out;
    transform: scale(1.01); 
    box-shadow: 0px 0px 10px var(--primary-color-v3); 
    }
    
}

@media screen and (min-width: 768px) {
    .logo{
        margin-left: var(--pad-03);
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .logo img{
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
        animation: glowEffect 2s infinite ease-in-out;
    }
    .name{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .name span{
        width: 100%;
        display: flex;
        text-transform: uppercase;
        font-size: 1.35rem;
        font-style: normal;
    }
    .name span:nth-child(2){
        font-size: 0.95rem;
    }
    .networks{
        justify-content: center;
        align-items: center;
        padding-right: var(--pad-03);
    }
    .networks ul{
        width: 100%;
        list-style: none;
        justify-content: right;
        align-items: center;
        display: flex;
        flex-direction: row;
    }
    .networks ul li{
        display: flex;
        justify-content: right;
        align-items: center;
    }
    .networks ul li a{
        margin-left: 1rem;
        width: 1.4rem;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
    
    .nav-ico{
        padding-right: var(--pad-03);
        display: none;
        justify-content: right;
        align-items: center;
    }
    .nav-ico label{
        width: 100%;
        height: 100%;
        display: none;
        justify-content: right;
        align-items: center;
    }
    .cb-menu{
        display: none;
    }
    
    .nav-open{
        width: 70%;
        aspect-ratio: 1/1;
        object-fit: cover;
        height: auto;
        cursor: pointer;
        display: none;
    }
    input[type="checkbox"]:checked ~ nav{
        display: flex;
        transition: 0;
        width: none;
        right: none;
    }
    nav{
        position: relative;
        padding-left: var(--pad-03);
        padding-right: var(--pad-03);
        right: 0;
        display: flex;
        top: 0;
        justify-content: safe;
        align-items: center;
        flex-direction: column;
        width: 100%;
        min-height: 100%;
        transition: none;
    }
    
    nav .l-menu-btn-close{
        display: none;
        justify-content: right;
        align-items: center;
        width: 100%;
        padding-right: var(--pad-03);
        min-height: 100%;
    }
    .nav-close{
        width: auto;
        min-height: 6.3vh;
        aspect-ratio: 1/1;
        cursor: pointer;
    }
    nav ul{
        list-style: none;
        width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    nav ul li{
        min-height: 100%;
        display: flex;
        width: 100%;
        
    }
    nav ul li label{
        min-height: 100%;
        padding: none;
        width: 100%;
    }
    nav ul li label a{
        text-decoration:none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        height: 100%;
        width: auto;
        font-family: var(--regular),sans-serif;
        color: var(--white);
        cursor: pointer;
        font-size: 0.9rem;
    }
    
}

@media screen and (min-width: 1024px) {
    .logo{
        margin-left: var(--pad-03);
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100%
    }
    .logo img{
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
        animation: glowEffect 2s infinite ease-in-out;
    }
    .name{
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .name span{
        width: 100%;
        display: flex;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 1.55rem;
        font-style: normal;
    }
    .name span:nth-child(2){
        font-size: 1.05rem;
    }
    .networks{
        min-height: 100%;
        justify-content: center;
        align-items: center;
        padding-right: var(--pad-03);
    }
    .networks ul{
        width: 100%;
        list-style: none;
        justify-content: right;
        align-items: center;
        display: flex;
        flex-direction: row;
    }
    .networks ul li{
        display: flex;
        justify-content: right;
        align-items: center;
    }
    .networks ul li a{
        margin-left: 1.4rem;
        min-height: auto;
        width: 1.5em;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
    .nav-ico{
        padding-right: var(--pad-01);
        display: none;
        justify-content: right;
        align-items: center;
    }
    .nav-ico label{
        width: 100%;
        height: 100%;
        display: none;
        justify-content: right;
        align-items: center;
    }
    .cb-menu{
        display: none;
    }
    
    .nav-open{
        width: 70%;
        aspect-ratio: 1/1;
        object-fit: cover;
        height: auto;
        cursor: pointer;
        display: none;
    }
    input[type="checkbox"]:checked ~ nav{
        display: flex;
        transition: 0;
        width: none;
        right: none;
    }
    nav{
        position: relative;
        padding-left: var(--pad-03);
        padding-right: var(--pad-03);
        right: 0;
        display: flex;
        top: 0;
        justify-content: safe;
        align-items: center;
        flex-direction: column;
        width: 100%;
        min-height: 100%;
        transition: none;
    }
    
    nav .l-menu-btn-close{
        display: none;
        justify-content: right;
        align-items: center;
        width: 100%;
        padding-right: var(--pad-01);
        min-height: 100%;
    }
    .nav-close{
        width: auto;
        min-height: 6.3vh;
        aspect-ratio: 1/1;
        cursor: pointer;
    }
    nav ul{
        list-style: none;
        width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    nav ul li{
        min-height: 100%;
        display: flex;
        width: 100%;
        
    }
    nav ul li label{
        min-height: 100%;
        padding: none;
        width: 100%;
    }
    nav ul li label a{
        text-decoration:none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        height: 100%;
        width: auto;
        font-family: var(--regular),sans-serif;
        color: var(--white);
        cursor: pointer;
        font-size: 1.1rem;
    }
    
}

@media screen and (min-width: 1500px) {
    .logo{
        margin-left: var(--pad-04);
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100%;
        
    }
    .logo img{
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
        animation: glowEffect 2s infinite ease-in-out;
    }
    .name{
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .name span{
        width: 100%;
        display: flex;
        text-transform: uppercase;
        font-size: 1.75rem;
        font-style: normal;
    }
    .name span:nth-child(2){
        font-size: 1.15rem;
    }
    .networks{
        min-height: 100%;
        justify-content: center;
        align-items: center;
        padding-right: var(--pad-04);
    }
    .networks ul{
        width: 100%;
        list-style: none;
        justify-content: right;
        align-items: center;
        display: flex;
        flex-direction: row;
    }
    .networks ul li{
        display: flex;
        justify-content: right;
        align-items: center;
    }
    .networks ul li a{
        margin-left: 1.2rem;
        min-height: 100%;
        width: 1.8rem;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
    .nav-ico{
        padding-right: var(--pad-01);
        display: none;
        justify-content: right;
        align-items: center;
    }
    .nav-ico label{
        width: 100%;
        height: 100%;
        display: none;
        justify-content: right;
        align-items: center;
    }
    .cb-menu{
        display: none;
    }
    
    .nav-open{
        width: 70%;
        aspect-ratio: 1/1;
        object-fit: cover;
        height: auto;
        cursor: pointer;
        display: none;
    }
    input[type="checkbox"]:checked ~ nav{
        display: flex;
        transition: 0;
        width: none;
        right: none;
    }
    nav{
        position: relative;
        padding-left: var(--pad-04);
        padding-right: var(--pad-04);
        right: 0;
        display: flex;
        top: 0;
        justify-content: safe;
        align-items: center;
        flex-direction: column;
        width: 100%;
        min-height: 100%;
        transition: none;
    }
    
    nav .l-menu-btn-close{
        display: none;
        justify-content: right;
        align-items: center;
        width: 100%;
        padding-right: var(--pad-01);
        min-height: 100%;
    }
    .nav-close{
        width: auto;
        min-height: 6.3vh;
        aspect-ratio: 1/1;
        cursor: pointer;
    }
    nav ul{
        list-style: none;
        width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    nav ul li{
        min-height: 100%;
        display: flex;
        width: 100%;
        
    }
    nav ul li label{
        min-height: 100%;
        padding: none;
        width: 100%;
    }
    nav ul li label a{
        text-decoration:none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        height: 100%;
        width: auto;
        font-family: var(--regular),sans-serif;
        color: var(--white);
        cursor: pointer;
        font-size: 1.25rem;
    }
    
}
@media screen and (min-width: 1900px) {
    .logo{
        margin-left: var(--pad-05);
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100%;
        
    }
    .logo img{
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
        animation: glowEffect 2s infinite ease-in-out;
    }
    .name{
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .name span{
        width: 100%;
        display: flex;
        text-transform: uppercase;
        font-size: 1.9rem;
        font-style: normal;
    }
    .name span:nth-child(2){
        font-size: 1.3rem;
    }
    .networks{
        min-height: 100%;
        justify-content: center;
        align-items: center;
        padding-right: var(--pad-05);
    }
    .networks ul{
        width: 100%;
        list-style: none;
        justify-content: right;
        align-items: center;
        display: flex;
        flex-direction: row;
    }
    .networks ul li{
        display: flex;
        justify-content: right;
        align-items: center;
    }
    .networks ul li a{
        margin-left: 1.5rem;
        min-height: 100%;
        width: 2rem;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
    .nav-ico{
        padding-right: var(--pad-01);
        display: none;
        justify-content: right;
        align-items: center;
    }
    .nav-ico label{
        width: 100%;
        height: 100%;
        display: none;
        justify-content: right;
        align-items: center;
    }
    .cb-menu{
        display: none;
    }
    
    .nav-open{
        width: 70%;
        aspect-ratio: 1/1;
        object-fit: cover;
        height: auto;
        cursor: pointer;
        display: none;
    }
    input[type="checkbox"]:checked ~ nav{
        display: flex;
        transition: 0;
        width: none;
        right: none;
    }
    nav{
        position: relative;
        padding-left: var(--pad-05);
        padding-right: var(--pad-05);
        right: 0;
        display: flex;
        top: 0;
        justify-content: safe;
        align-items: center;
        flex-direction: column;
        width: 100%;
        min-height: 100%;
        transition: none;
    }
    
    nav .l-menu-btn-close{
        display: none;
        justify-content: right;
        align-items: center;
        width: 100%;
        padding-right: var(--pad-01);
        min-height: 100%;
    }
    .nav-close{
        width: auto;
        min-height: 6.3vh;
        aspect-ratio: 1/1;
        cursor: pointer;
    }
    nav ul{
        list-style: none;
        width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    nav ul li{
        min-height: 100%;
        display: flex;
        width: 100%;
        
    }
    nav ul li label{
        min-height: 100%;
        padding: none;
        width: 100%;
    }
    nav ul li label a{
        text-decoration:none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        height: 100%;
        width: auto;
        font-family: var(--regular),sans-serif;
        color: var(--white);
        cursor: pointer;
        font-size: 1.4rem;
    }
    
}



