.newscbanner{
    width: 100%;
    height: 8rem;
    overflow: hidden;
    margin-bottom: 0rem;
}

.newscbanner .nwbimg{
    position: absolute;
    transform: translateY(-1rem);
    left: 0;
    right: 0;
    width: 100%;
    height: 8rem;
    overflow: hidden;
}
.newscbanner .nwbimg img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.nwbimg::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: #00335254; /* azul con transparencia */
    mix-blend-mode: multiply; /* mezcla el azul con la imagen */
    pointer-events: none; /* no bloquea clics */
}
.newsb {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.newstitle {
    width: 100%;
    font-size: 0.95rem;
    border-bottom: 1px solid var(--primary-color-v1);
    text-transform: uppercase;
    font-family: var(--regular);
    font-weight: bold;
    color: var(--primary-color-v1);
    margin-bottom: 1rem;
    text-decoration: none;
}

.newsbody {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    text-decoration: none;
}

.newscontent {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    text-decoration: none;
}

.newscard {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    height: 23rem;
    overflow: hidden;
    text-decoration: none;
}

.newsimg{
    width: 100%;
    height: 45%;
}
.newsimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.newstext {
    height: 55%;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    text-decoration: none;
}

.newstext h3 {
    text-transform: uppercase;
    color: var(--primary-color-v1);
    text-align: justify;
    margin: 0;
    font-family: var(--regular);
    height: 30%;
    overflow: hidden;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;     /* Número de líneas a mostrar */
    -webkit-box-orient: vertical;
    line-height: 1.1em;
    font-weight: bold;
}
.newstext p{
    font-family: var(--regular);
    color: var(--primary-color-v1);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;     /* Número de líneas a mostrar */
    -webkit-box-orient: vertical;
    line-height: 1.1em;
    height: 40%;
    text-align: justify;
    font-size: 0.70rem;
}

.newsdate, .newsreporter, .newscategory {
    height: 10%;
    overflow: hidden;
    font-family: var(--regular);
    font-size: 0.75rem;
    color: gray;
    text-transform: capitalize;
}

.pagination {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    border-top: 1px solid var(--primary-color-v3);
    border-bottom: 1px solid var(--primary-color-v3);
}
.pagination button:nth-child(1){
    border: none;
    font-size: 1.5rem;
    padding-right: 0.4rem;
}
.pagination button:last-child{
    border: none;
    font-size: 1.5rem;
    padding-left: 0.4rem;
}
.pagination button:hover:nth-child(1){
    background-color: transparent;
}
.pagination button:hover:last-child{
    background-color: transparent;
}
.pagination button:hover{
    color: var(--primary-color-v1);
    transition: 0.5s ease-in-out;
    font-weight: bold;
    background-color: var(--gray-light);
}
.pagination button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    font-size: 1.2rem;
    width: 1.7rem;
    height: 1.7rem;
    color: var(--primary-color-v3);
    aspect-ratio: 1/1;
    cursor: pointer;
    background-color: var(--white);
}

.pagination button.active {
    background-color: var(--primary-color-v1);
    width: 1.9rem;
    height: 1.9rem;
    color: var(--white);
    font-size: 1.05rem;
    font-weight: bold;
    border: 2px solid var(--primary-color-v1);
}

.pagination button:disabled {
    border: none;
    color: var(--gray-light);
    cursor: not-allowed;
}

.pagination .dots {
    padding: 0.3rem 0.3rem;
    color: var(--primary-color-v3);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsadd{
    margin-top: 2rem;
    width: 100%;
    height: 12rem;
    background-color: var(--primary-color-v1);
}
@media screen and (min-width: 480px) {
    .newscbanner{
        width: 100%;
        height: 8rem;
        overflow: hidden;
        margin-bottom: 0rem;
    }
    
    .newscbanner .nwbimg{
        transform: translateY(-1rem);
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 8rem;
        overflow: hidden;
    }
    .newsb {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .newstitle {
        width: 100%;
        font-size: 0.95rem;
        border-bottom: 1px solid var(--primary-color-v1);
        text-transform: uppercase;
        font-family: var(--regular);
        font-weight: bold;
        color: var(--primary-color-v1);
        margin-bottom: 1rem;
    }
    
    .newsbody {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    
    .newscontent {
        display: flex;
        flex-wrap: wrap;
        
        gap: 1.5rem;
        justify-content: center;
    }
    
    .newscard {
        display: flex;
        flex-direction: row;
        background: white;
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        width: 100%;
        height: 15rem;
        overflow: hidden;
    }
    
    .newsimg{
        width: 35%;
        height: 100%;
    }
    .newsimg img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    .newstext {
        height: 100%;
        width:65%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
    }
    
    .newstext h3 {
        color: var(--primary-color-v1);
        text-align: justify;
        margin: 0;
        font-family: var(--regular);
        height: 25%;
        overflow: hidden;
        font-size: 0.9rem;
        display: -webkit-box;
        -webkit-line-clamp: 3;     /* Número de líneas a mostrar */
        -webkit-box-orient: vertical;
        line-height: 1.1em;
        font-weight: bold;
    }
    .newstext p{
        font-family: var(--regular);
        color: var(--primary-color-v1);
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 7;     /* Número de líneas a mostrar */
        -webkit-box-orient: vertical;
        line-height: 1.1em;
        height: 45%;
        text-align: justify;
        font-size: 0.70rem;
    }
    
    .newsdate, .newsreporter, .newscategory {
        height: 10%;
        overflow: hidden;
        font-family: var(--regular);
        font-size: 0.75rem;
        color: gray;
    }
    
    .pagination {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    
    .pagination button {
        color: var(--primary-color-v3);
        border: none;
        cursor: pointer;
        background-color: var(--white);
    }
    
    .pagination button.active {
        color: var(--white);
        font-weight: bold;
        width: 2.1rem;
        height: 2.1rem;
        font-size: 1.15rem;
    }
    
    .pagination button:disabled {
        cursor: not-allowed;
    }
    
    .pagination .dots {
        padding: 0.3rem 0.3rem;
        color: var(--primary-color-v3);
        font-weight: bold;
    }
    
    .newsadd{
        margin-top: 2rem;
        width: 100%;
        height: 12rem;
    }
}

@media screen and (min-width: 768px) {
    .newscbanner{
        width: 100%;
        height: 10rem;
        overflow: hidden;
        margin-bottom: 0rem;
    }
    
    .newscbanner .nwbimg{
        transform: translateY(-1rem);
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 10rem;
        overflow: hidden;
    }
    .newsb {
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: stretch;
        flex-direction: row;
    }
    .newstitle {
        width: 100%;
        font-size: 1rem;
        border-bottom: 1px solid var(--primary-color-v1);
        text-transform: uppercase;
        font-family: var(--regular);
        font-weight: bold;
        color: var(--primary-color-v1);
        margin-bottom: 1rem;
    }
    
    .newsbody {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    
    .newscontent {
        display: flex;
        flex-wrap: wrap;
        
        gap: 1.5rem;
        justify-content: center;
    }
    
    .newscard {
        display: flex;
        flex-direction: row;
        background: white;
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        width: 100%;
        height: 15rem;
        overflow: hidden;
    }
    
    .newsimg{
        width: 40%;
        height: 100%;
    }
    .newsimg img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    .newstext {
        height: 100%;
        width:60%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
    }
    
    .newstext h3 {
        color: var(--primary-color-v1);
        text-align: justify;
        margin: 0;
        font-family: var(--regular);
        height: 25%;
        overflow: hidden;
        font-size: 0.9rem;
        display: -webkit-box;
        -webkit-line-clamp: 3;     /* Número de líneas a mostrar */
        -webkit-box-orient: vertical;
        line-height: 1.1em;
        font-weight: bold;
    }
    .newstext p{
        font-family: var(--regular);
        color: var(--primary-color-v1);
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 7;     /* Número de líneas a mostrar */
        -webkit-box-orient: vertical;
        line-height: 1.1em;
        height: 45%;
        text-align: justify;
        font-size: 0.70rem;
    }
    
    .newsdate, .newsreporter, .newscategory {
        height: 10%;
        overflow: hidden;
        font-family: var(--regular);
        font-size: 0.75rem;
        color: gray;
    }
    
    .pagination {
        display: flex;
        justify-content: center;
        
    }
    
    .pagination button {
        font-size: 1rem;
        padding: 0.8rem 0.8rem;
        color: var(--primary-color-v3);
        border: none;
        cursor: pointer;
        background-color: var(--white);
    }
    
    .pagination button.active {
        color: var(--white);
        width: 1.9rem;
        height: 1.9rem;
        font-size: 1.05rem;
        font-weight: bold;
    }
    
    .pagination button:disabled {
        cursor: not-allowed;
    }
    
    .pagination .dots {
        padding: 0.3rem 0.05rem;
        color: var(--primary-color-v3);
        font-weight: bold;
    }
    
    .newsadd{
        display: flex;
        margin-top: 0rem;
        width: 12rem;
        height: 40rem;
    }
}

@media screen and (min-width: 1024px) {
    .newscbanner{
        width: 100%;
        height: 12rem;
        overflow: hidden;
        margin-bottom: 0rem;
    }
    
    .newscbanner .nwbimg{
        transform: translateY(-3rem);
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 12rem;
        overflow: hidden;
    }
    .newsb {
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: stretch;
        flex-direction: row;
    }
    .newstitle {
        width: 100%;
        font-size: 1rem;
        border-bottom: 1px solid var(--primary-color-v1);
        text-transform: uppercase;
        font-family: var(--regular);
        font-weight: bold;
        color: var(--primary-color-v1);
        margin-bottom: 1rem;
    }
    
    .newsbody {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    
    .newscontent {
        display: flex;
        flex-wrap: wrap;
        
        gap: 1.5rem;
        justify-content: center;
    }
    
    .newscard {
        display: flex;
        flex-direction: row;
        background: white;
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        width: 100%;
        height: 15rem;
        overflow: hidden;
    }
    
    .newsimg{
        width: 20rem;
        height: 100%;
    }
    .newsimg img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    .newstext {
        height: 100%;
        width:100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
    }
    
    .newstext h3 {
        color: var(--primary-color-v1);
        text-align: justify;
        margin: 0;
        font-family: var(--regular);
        height: 25%;
        overflow: hidden;
        font-size:1.1rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;     /* Número de líneas a mostrar */
        -webkit-box-orient: vertical;
        line-height: 1.3em;
        font-weight: bold;
    }
    .newstext p{
        font-family: var(--regular);
        color: var(--primary-color-v1);
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 6;     /* Número de líneas a mostrar */
        -webkit-box-orient: vertical;
        line-height: 1.15em;
        height: 45%;
        text-align: justify;
        font-size: 0.8rem;
    }
    
    .newsdate, .newsreporter, .newscategory {
        height: 10%;
        overflow: hidden;
        font-family: var(--regular);
        font-size: 0.8rem;
        color: gray;
    }
    
    .pagination {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }
    
    .pagination button {
        font-size: 1.3rem;
        padding: 1rem 1rem;
        color: var(--primary-color-v3);
        border: none;
        cursor: pointer;
        background-color: var(--white);
    }
    
    
    .pagination button.active {
        width: 1.9rem;
        height: 1.9rem;
        color: var(--white);
        font-size: 1.4rem;
        font-weight: bold;
    }
    
    .pagination button:disabled {
        cursor: not-allowed;
    }
    
    .pagination .dots {
        padding: 0.3rem 0.05rem;
        color: var(--primary-color-v3);
        font-weight: bold;
    }
    
    .newsadd{
        display: flex;
        margin-top: 0rem;
        width: 12rem;
        height: 40rem;
    }
}

@media screen and (min-width: 1500px) {
    .newscbanner{
        width: 100%;
        height: 13rem;
        overflow: hidden;
        margin-bottom: 0rem;
    }
    
    .newscbanner .nwbimg{
        transform: translateY(-3rem);
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 13rem;
        overflow: hidden;
    }
    .newsb {
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: stretch;
        flex-direction: row;
    }
    .newstitle {
        width: 100%;
        font-size: 1.1rem;
        border-bottom: 1px solid var(--primary-color-v1);
        text-transform: uppercase;
        font-family: var(--regular);
        font-weight: bold;
        color: var(--primary-color-v1);
        margin-bottom: 1rem;
    }
    
    .newsbody {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    
    .newscontent {
        display: flex;
        flex-wrap: wrap;
        
        gap: 1.5rem;
        justify-content: center;
    }
    
    .newscard {
        display: flex;
        flex-direction: row;
        background: white;
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        width: 100%;
        height: 15rem;
        overflow: hidden;
    }
    
    .newsimg{
        width: 20rem;
        height: 100%;
    }
    .newsimg img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    .newstext {
        height: 100%;
        width:100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
    }
    
    .newstext h3 {
        color: var(--primary-color-v1);
        text-align: justify;
        margin: 0;
        font-family: var(--regular);
        height: 25%;
        overflow: hidden;
        font-size:1.1rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;     /* Número de líneas a mostrar */
        -webkit-box-orient: vertical;
        line-height: 1.3em;
        font-weight: bold;
    }
    .newstext p{
        font-family: var(--regular);
        color: var(--primary-color-v1);
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 6;     /* Número de líneas a mostrar */
        -webkit-box-orient: vertical;
        line-height: 1.15em;
        height: 45%;
        text-align: justify;
        font-size: 0.8rem;
    }
    
    .newsdate, .newsreporter, .newscategory {
        height: 10%;
        overflow: hidden;
        font-family: var(--regular);
        font-size: 0.8rem;
        color: gray;
    }
    
    .pagination {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    
    .pagination button {
        font-size: 1.5rem;
        padding: 1rem 1rem;
        color: var(--primary-color-v3);
        border: none;
        cursor: pointer;
        background-color: var(--white);
    }
    
    
    .pagination button.active {
        width: 2.5rem;
        height: 2.5rem;
        color: var(--white);
        font-size: 1.6rem;
        font-weight: bold;
    }
    
    .pagination button:disabled {
        cursor: not-allowed;
    }
    
    .pagination .dots {
        padding: 0.3rem 0.05rem;
        color: var(--primary-color-v3);
        font-weight: bold;
    }
    
    .newsadd{
        display: flex;
        margin-top: 0rem;
        width: 12rem;
        height: 40rem;
    }
}
@media screen and (min-width: 1900px) {
    
    .newsb {
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: stretch;
        flex-direction: row;
    }
    .newstitle {
        width: 100%;
        font-size: 1.15rem;
        border-bottom: 1px solid var(--primary-color-v1);
        text-transform: uppercase;
        font-family: var(--regular);
        font-weight: bold;
        color: var(--primary-color-v1);
        margin-bottom: 1rem;
    }
    
    .newsbody {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    
    .newscontent {
        display: flex;
        flex-wrap: wrap;
        
        gap: 1.5rem;
        justify-content: center;
    }
    
    .newscard {
        display: flex;
        flex-direction: row;
        background: white;
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        width: 100%;
        height: 15rem;
        overflow: hidden;
    }
    
    .newsimg{
        width: 20rem;
        height: 100%;
    }
    .newsimg img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    .newstext {
        height: 100%;
        width:100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
    }
    
    .newstext h3 {
        color: var(--primary-color-v1);
        text-align: justify;
        margin: 0;
        font-family: var(--regular);
        height: 25%;
        overflow: hidden;
        font-size:1.1rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;     /* Número de líneas a mostrar */
        -webkit-box-orient: vertical;
        line-height: 1.3em;
        font-weight: bold;
    }
    .newstext p{
        font-family: var(--regular);
        color: var(--primary-color-v1);
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 6;     /* Número de líneas a mostrar */
        -webkit-box-orient: vertical;
        line-height: 1.15em;
        height: 45%;
        text-align: justify;
        font-size: 0.8rem;
    }
    
    .newsdate, .newsreporter, .newscategory {
        height: 10%;
        overflow: hidden;
        font-family: var(--regular);
        font-size: 0.8rem;
        color: gray;
    }
    
    .pagination {
        display: flex;
        justify-content: center;
        gap: 2.5rem;
    }
    
    .pagination button {
        font-size: 1.7rem;
        padding: 1rem 1rem;
        color: var(--primary-color-v3);
        border: none;
        cursor: pointer;
        background-color: var(--white);
    }
    
    
    .pagination button.active {
        width: 3rem;
        height: 3rem;
        color: var(--white);
        font-size: 1.8rem;
        font-weight: bold;
    }
    
    .pagination button:disabled {
        cursor: not-allowed;
    }
    
    .pagination .dots {
        padding: 0.3rem 0.05rem;
        color: var(--primary-color-v3);
        font-weight: bold;
    }
    
    .newsadd{
        display: flex;
        margin-top: 0rem;
        width: 12rem;
        height: 40rem;
    }
}
