:root{
    /*Color*/
    --primary-color-v1:#003352;
    --primary-color-v2:#003e64;
    --primary-color-v3:#1291df;
    --primary-color-v4:#5eb6ce;
    --white:#fcf7f7;
    --gray:#e2dfdf;
    --black:#0f0f0f;
    /*******/
}